<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/recomendation_style.css">
    <script src="../static/js/jquery-3.7.1.js"></script>
    <script src="../static/js/main.js"></script>
    <title>Cold start</title>
</head>
<body>

    <!-- Весь экран -->
    <main class="main">
        <!-- Логотип -->
        
        <!-- Хедер сайта -->
         
        <div class="header">
            <div class="logo">
                <img src="../static/img/rutube_logo.png" width="100%" alt="Логотип rutube">
            </div>
            <h1>Рекомендательная система для новых пользователей<br>Добро пожаловать!</h1>
        </div>
        <!-- Блок с основным контейнером (слайдер) -->

        <div class="content">
            <div class="rec">
                {%for i in range(10)%}
                <div class="video">
                    <p class="name">names[i]</p>
                    <p class="description">descriptions[i]</p>
                    <p class="author">category[i]</p>
                </div>
                {%endfor%}
                <!-- <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div>
                <div class="video">
                    <p class="name">Название</p>
                    <p class="description">Описание</p>
                    <p class="author">Автор</p>
                </div> -->

            </div>            

            <div class="refresh-btn">
                <button class="refresh">Refresh</button>
            </div>

        </div>

    </main>


</body>
</html>
