<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/recomendation_style.css">
    <link rel="stylesheet" href="../static/css/recomendation_media_style.css">
    <script src="../static/js/jquery-3.7.1.js"></script>
    <!-- <script src="{{ url_for('static',filename='js/recomendation_main.js') }}"></script> -->
    
    <title>Cold start</title>
</head>
<body>
    <!-- Весь экран -->
    <main class="main">        
        <!-- Хедер сайта -->
        <div class="header">
            <!-- Логотип -->
            <div class="logo">
                <a href= "/"><img src="../static/img/rutube_logo.png" width="100%" alt="Логотип rutube"></a>
            </div>
            <!-- Огловление страницы -->
            <h1>Рекомендательная система для новых пользователей<br>Добро пожаловать!</h1>
        </div>
        <!-- Блок со всем контентом -->
        <div class="content">
            <!-- Блок с рекомендуемыми видео -->
            <div class="rec">
                
                {% for i in range(10) %}
                <div class="video" id="{{ ids[i] }}" onclick="redirectToVideo('{{ ids[i] }}')">
                    <p class="name">{{ names[i] }}</p>
                    <p class="category">{{ categories[i] }}</p>
                    <p class="description">{{ descriptions[i] }}</p>
                </div>
                {% endfor %}
                
            </div>            
            <!-- Кнопка обновления рекомендаций -->
            <div class="refresh-btn">
                <a href = "/" class="refresh">Refresh</a>
            </div>

        </div>

    </main>


</body>
</html>
<script>
    $(document).ready(function () {
    // Function to handle redirection
    window.redirectToVideo = function (id) {
        // Store the video ID in local storage (if needed)
        localStorage.setItem("videoId", id);

        // Redirect to the video page using the video ID
        document.location.href = `/video/${id}`;
    };
});
</script>