<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/single_video_style.css">
    <script src="../static/js/jquery-3.7.1.js"></script>
    <script src="../static/js/main.js"></script>
    <title>Cold start</title>
</head>
<body>

    <!-- Весь экран -->
    <main class="main">
        <!-- Логотип -->
        
        <!-- Хедер сайта -->
        <div class="header">
            <div class="logo">
                <img src="../static/img/rutube_logo.png" width="100%" alt="Логотип rutube">
            </div>
        </div>
        <!-- Блок со всем контентом -->
        <div class="content">
            <!-- Видео -->
            <div class="video">
                Название
            </div>
            <!-- Автор и оценка -->
            <div class="author-and-grade">
                <!-- Автор -->
                <div class="author">
                    Автор
                </div>
                <!-- Оценка -->
                <div class="grade">
                    Оценка
                </div>
            </div>
            <div class="description">
                Описание
            </div>
            <!-- Комментарии -->
            <div class="comments">
                <textarea class="comment" name="" id=""></textarea>
            </div>

        </div>

    </main>


</body>
</html>
