/* Добавление шрифта */
@font-face {
  font-family: 'Alumni Sans';
  src: url('../font/AlumniSans-Italic.woff2') format('woff2'),
      url('../font/AlumniSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Основные размеры и падинги сайта */
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 2% 3%;
  background-color: #1b232b;
  text-align: center;
}
/* Хедер сайта */
.header {
  display: flex;
  align-items: flex-start;
}
/* Логотип */
.logo {
  display: inline-block;
  vertical-align: top;
  width: 25vw; 
  top: 5px;
  left: 20px;
}
/* Заголовок */
.header h1 {
  display: inline-block;
  margin: 10px 0;
  max-width: 60vw;
  transform: translateY(-5%);
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}
/* Основная разметка блока с контентом */
.content {
  flex: 1;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;  
  padding: 2% 0 4%; 
  width: 100%;
  background-color: #14191f;
  border-radius: 20px;
}
/* Настройка блока с видео */
.rec {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  flex: 1;
  margin-bottom: 2rem;
  width: 100%;
  min-height: 100%;
  height: 1px;
  background-color: #14191f;
  border-radius: 20px;
}
/* Настройка самих видео */
.video {
  margin: 1rem 2rem;
  font-family: 'Alumni Sans', sans serif;
  font-size: 1rem;
  padding: 5px;
  width: calc(100% / 4 - 4rem);
  height: 9rem;
  background-color: #fff;
  border-radius: 10px;
}
/* Настройка кнопки обновления рекомендаций */
.refresh {
  width: 9rem;
  height: 3rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #00a1e7;
  border: none;
  border-radius: 10px;
}
/* Свечение кнопки при наведение */
.refresh:hover {
  z-index: 999;
  box-shadow: 0 0 7px 4px rgba(0, 161, 231, 0.5);
}

