/* Добавление шрифта */
@font-face {
    font-family: 'Alumni Sans';
    src: url('../font/AlumniSans-Italic.woff2') format('woff2'),
        url('../font/AlumniSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
/* Основные размеры и падинги сайта */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 2% 3%;
    background-color: #1b232b;
}
/* Хедер сайта */
.header {
    display: flex;
    align-items: flex-start;
}
/* Логотип  */
.logo {
    display: inline-block;
    width: 25vw;
    transform: translate(-2.5vw, -2vh);
}
.main-content {
    flex: 1;
    display: flex;
    padding: 2% 2% 4%; 
    width: 100%;
    height: auto;
    background-color: #14191f;
    border-radius: 20px;
}
/* Основная разметка блока с контентом */
.content {
    /* flex: 1; */
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    background-color: #14191f;
}
/* Разметка видео */
.video {
    width: 100%;
    min-height: 50vh;
    padding: 1rem 3rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: top;
    font-size: 5rem;
    font-weight: 600;
    color: #ddd;
    background-color: #060709;
    border-radius: 20px;
}
.category-and-grade {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 5rem;
    height: auto;
    align-items: center;
}
.category {
    margin-right: 5rem;
    font-size: 2rem;
    color: white;
}
.grade {
    color: white;
}
.description {
    height: 3rem;
    align-items: center;
    color: white;
}
.like {
    margin-right: 2rem;
}
.description {
    display: flex;
    min-height: 5rem;
    height: auto;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2rem;
    align-items: center;
}