@font-face {
    font-family: 'Alumni Sans';
    src: url('../font/AlumniSans-Italic.woff2') format('woff2'),
        url('../font/AlumniSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
 
/* Основные размеры и падинги сайта */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 1% 1% 4%;
    background-color: #1b232b;
}
/* Хедер сайта */
.header {
    display: flex;
    align-items: flex-start;
}
/* Логотип  */
.logo {
    display: inline-block;
    vertical-align: top;
    width: 20%; 
    top: 5px;
    left: 20px;
}
.main-content {
    flex: 1;
    display: flex;
    padding: 2% 2% 4%; 
    width: 100%;
    background-color: #14191f;
    border-radius: 20px;
}
/* Основная разметка блока с контентом */
.content {
    /* flex: 1; */
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 80%;
    background-color: #14191f;
}
/* Разметка видео */
.video {
    width: 100%;
    /* height: 94%; */
    flex: 1;
    text-align: center;
    vertical-align: middle;
    background-color: #fff;
}
.category-and-grade {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 5rem;
    align-items: center;
}
.category {
    margin-right: 5rem;
    font-size: 2rem;
    color: white;
}
.grade {
    color: white;
}
.description {
    height: 3rem;
    align-items: center;
    color: white;
    border: 1px solid red;
}
.comment {
    width: 30%;
    height: 5rem;
}

.like {
    margin-right: 2rem;
}

.description {
    display: flex;
    height: 5rem;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 2rem;
    align-items: center;
}